<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go file upload</title>
</head>

<body>
    <form action="/questions" method="post" enctype="multipart/form-data">
        <h2>Ask Question</h2>
        <div>
            <label for="title">Problem title</label> <br>
            <input type="text" name="title" id="title" placeholder="Title">
        </div>
        <div>
            <label for="description">Tell more about your problem</label> <br>
            <textarea id="description" name="description" rows="5" cols="50" placeholder="Enter a detailed description of the problem..."></textarea>
        </div>
        <div>
            <label for="image">Attach your problem</label> <br>
            <input type="file" name="image" id="image" accept="image/*">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
